*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: violet;
}
/* container */
.container{
    display: flex;
    height: 500px;
    width: 800px;
   /* border: 1px solidblack; */
    margin: auto;
    margin-top: 50px;
}
/* Login Form */
.form{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: whitesmoke;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
#submit{
    padding: 12px 30px;
    width: 100px;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover{
 cursor: pointer;
 background-color: aqua;   
}
.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.form a:hover{
    color: aqua;
}
/* Right Side */
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(167, 47, 167);
}
.side img{
    width: 400px;
    height: 400px;
}
